.final {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    bottom: -858px;
    height: 189px;
    width: 56 px;
    padding: 20px;
    margin: 15px;
}